[Unit]
Description=Tuptime service
After=basic.target
Requires=basic.target

[Service]
Type=oneshot
User=root
RemainAfterExit=true
ExecStart=/usr/bin/tuptime -x
ExecStop=/usr/bin/tuptime -xg

[Install]
WantedBy=basic.target
