[Unit]
Description=Tuptime scheduled sync service
Documentation=man:tuptime(1) file:///usr/share/doc/tuptime/tuptime-manual.txt.gz
Requires=tuptime.service
#ConditionPathExists=!/etc/cron.d/tuptime

[Service]
Type=oneshot
User=_tuptime
ExecStart=/usr/bin/tuptime -w
