[Unit]
Description=Tuptime service
Wants=time-sync.target

[Service]
Type=oneshot
User=root
RemainAfterExit=true
ExecStart=/usr/bin/tuptime -x
ExecStop=/usr/bin/tuptime -xg

[Install]
WantedBy=basic.target
