[Unit]
Description=Tuptime service
After=local-fs.target
Requires=local-fs.target

[Service]
Type=oneshot
User=root
RemainAfterExit=true
ExecStart=/usr/bin/tuptime -x
ExecStop=/usr/bin/tuptime -xg

[Install]
WantedBy=local-fs.target
