Package: tuptime
Version: 3.2.00
Section: utils
Priority: optional
Architecture: all
Depends: python (>= 2.7), systemd (>= 215-17)
Maintainer: Ricardo F.  <rfraile@rfraile.eu>
Description: report historical system running time.
 Tuptime report historical and statistical running time of the system, 
 keeping it between restarts.
