<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>tuptime</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/tuptime -x</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>900</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/var/log/cron-tuptime.err</string>

  <key>StandardOutPath</key>
  <string>/var/log/cron-tuptime.log</string>
</dict>
</plist>
